
.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% auto 15%;
    height: 100vh;
    grid-gap: 5px;
    grid-template-areas: 
    "header header header"
    "nav main sidebar"
    "footer footer footer";
}
.header, .nav, .main, .sidebar, .footer {
    text-align: center;
    padding: .5rem;
}
nav li {
    font-size: 1.4rem;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 1px solid #ccc;
}
nav a {
    text-decoration: none;
    color: black;
    display: block;

}
.header {
  font-size: 2rem;
  background-color: aquamarine;
  padding-top: 2rem;  

}
.nav {
    background-color: beige;
}
.main {
    background-color: blanchedalmond;
}
.sidebar {
    background-color: beige;
}
.footer {
    background-color: aquamarine;
}

.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}